# Global options
{
    admin off
    auto_https off
}

# n8n
localhost:5678 {
    reverse_proxy n8n:5678
}

# Open WebUI
localhost:3000 {
    reverse_proxy open-webui:8080
}

# Flowise
localhost:3001 {
    reverse_proxy flowise:3001
}

# Ollama
localhost:11434 {
    reverse_proxy ollama-gpu:11434
}

# Qdrant
localhost:6333 {
    reverse_proxy qdrant:6333
}
